@media screen and (min-width: 862px) { .pnav a.act { background: #333; color: #fff; }
  .fnav-box .pnav a.act { background: none; color: #114893; } }
@media screen and (min-width: 1025px) { .fixctas a:hover .b, .fixctas li:hover .a { -webkit-transform: none; transform: none; opacity: 1; visibility: visible; } }
@media screen and (min-width: 1153px) { .header a:hover { opacity: .65; }
  .f-nav a:not(:first-child):hover { text-decoration: underline; }
  .footer .b a:hover { color: #fff; }
  .fixctas li:hover .m, .fixctas .tel-num:hover, .fixctas a:hover { background-color: #000; }
  .pnav a:hover { background: #333; color: #fff; }
  .cer-arrow .slick-arrow:hover { background-color: #333; }
  .cer-arrow .slick-prev:hover { background-position: right top; }
  .cer-arrow .slick-next:hover { background-position: left bottom; }
  .cer-dot .slick-dots li:hover { background: #333; }
  .cer-list .pic:hover { -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3); box-shadow: 0 0 8px rgba(0, 0, 0, 0.3); }
  .ixmore:hover { background: #333; color: #fff; }
  .news-a:hover { -webkit-transform: translateY(-10px); transform: translateY(-10px); -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3); box-shadow: 0 0 8px rgba(0, 0, 0, 0.3); }
  .nd-nav a:hover { color: #114893; }
  .nd-back a:hover { color: #114893; }
  .pro-a:hover .pro-more { color: #114893; }
  .buy-btn:hover { background: #333; }
  .pi-controls .pic:hover { border-color: #114893; }
  .ser-nav .sv2 a:hover { color: #114893; }
  .ser-nav .sv1:hover { opacity: 0.65; }
  .fnav-box .pnav a:hover { background: none; color: #114893; }
  .pro-more:hover { color: #114893; }
  .pro-more.wc:hover { color: #fff; } }
@media screen and (max-width: 1700px) { .pi-controls { margin-top: 6%; }
  .ft-io .tx-pos9 .ft-dot-list, .ft-io .tx-pos10 .ft-dot-list { margin-top: 55px; }
  .ft-io .tx-pos9 .pro-more, .ft-io .tx-pos10 .pro-more { margin-top: 25px; }
  .ft-io .tx-pos9 { top: 12%; } }
@media screen and (max-width: 1600px) { .ser-box, .container { min-height: 800px; }
  .banner .txts-1 { top: 15%; }
  #map { height: 625px; }
  .pi-controls .pic { height: 110px; }
  .pi-controls { width: 164px; height: 396px; }
  .ft-io .tx-pos4, .ft-io .tx-pos8 { top: 22%; }
  .ft-io .tx-pos5 { top: 16%; }
  .ft-io .tx-pos7 { top: 26%; }
  .ft-io .tx-pos3 { top: 20%; }
  .ft-io .ft-dot-list li { margin-right: 30px; }
  .ft-io .tx-pos9 { width: 590px; right: 10%; }
  .ft-io .tx-pos10 { top: 16%; } }
@media screen and (max-width: 1440px) { .pdd-tx .ab-tx { right: 10%; top: 25%; }
  .ft3 { padding-bottom: 175px; } }
@media screen and (max-width: 1366px) { .ser-box, .container { min-height: 600px; }
  .pw { width: 1000px; }
  .header .nav { margin-left: 5%; }
  .header .nav li > a { padding: 25px 18px; font-size: 15px; }
  .h-link a { width: 115px; }
  .ft-ti2, .ab-tx .ti2, .pbanner .ti2, .banner .ti1 { font-size: 42px; }
  .pbanner .ti1, .banner .ti2 { font-size: 15px; }
  .ab-tx .ti1 { font-size: 16px; }
  .banner .txts-2 { top: 30%; }
  .banner .txts-1 { top: 12%; }
  #map { height: 525px; }
  .pro-a .txts { top: 25%; }
  .pi-controls .pic { height: 98px; margin: 5px 0; }
  .pi-controls { width: 144px; height: 342px; }
  .pdd-tx .freeTx { font-size: 16px; }
  .psg-arrow.cer-arrow .slick-prev { left: -80px; }
  .psg-arrow.cer-arrow .slick-next { right: -80px; }
  .ser-nav.fix { margin-left: -500px; }
  .ser-nav .sv1 { font-size: 18px; }
  .ser-nav li { padding-bottom: 15px; }
  .ser-nav .sv2 { padding-top: 15px; }
  .ft-io .tx-pos2 { bottom: 33%; }
  .ft-io .tx-pos3 .pro-more { margin-top: 80px; }
  .ft-io .tx-pos3 { top: 18%; }
  .ft-io .tx-pos4, .ft-io .tx-pos8 { top: 20%; }
  .ft-io .tx-pos5 { top: 14%; }
  .ft-io .tx-pos5 .ft-tx { margin-top: 45px; }
  .ft-io .tx-pos5 .pro-more { margin-top: 8%; }
  .ft-io .tx-pos7 { top: 22%; }
  .ft-io .tx-pos8 { top: 17%; }
  .ft3 { padding: 125px 0 155px 0; } }
@media screen and (max-width: 1281px) { .pro-tx .txx { bottom: 5%; }
  .psg-list { padding: 0; }
  .psg-arrow.cer-arrow .slick-prev { left: 25px; }
  .psg-arrow.cer-arrow .slick-next { right: 25px; }
  .psg-arrow.cer-arrow .slick-arrow { background-color: rgba(197, 197, 197, 0.8); }
  .ft-ti2 { font-size: 36px; }
  .ft-ti1 { font-size: 22px; }
  .ft-tx2 { font-size: 14px; }
  .ft-tx { font-size: 16px; }
  .ft-io .tx-pos1 .ft-tx, .ft1 .ft-ti2 { margin-top: 10px; }
  .ft-io .tx-pos3 .ft-tx { margin-top: 25px; }
  .ft-io .tx-pos8, .ft-io .tx-pos7, .ft-io .tx-pos4, .ft-io .tx-pos3 { width: 400px; }
  .ft-io .tx-pos8 .ft-tx + .ft-tx { margin-top: 20px; }
  .ft-io .tx-pos8 .ft-ti2 { margin-bottom: 40px; }
  .ft-io .tx-pos8 { top: 18%; } }
@media screen and (max-width: 1153px) { .pi-controls .pic { height: 84px; }
  .pi-controls { width: 124px; height: 300px; }
  .ft-ti2 { font-size: 32px; }
  .ft-ti1 { font-size: 20px; }
  .ft-io .tx-pos4, .ft-io .tx-pos8 { top: 18%; }
  .ft-io .tx-pos5 .ft-tx { margin-top: 35px; }
  .ft-io .tx-pos8 .ft-ti2 { margin-bottom: 30px; }
  .ft-io .tx-pos8 .ft-tx + .ft-tx { margin-top: 15px; } }
@media screen and (max-width: 1024px) { .vwrap .videobox { width: 700px; margin-left: -350px; }
  .pw { width: 90%; }
  .fixbg { background-attachment: scroll; }
  .menuBtn { display: block; }
  .h-link, .header .nav { display: none; }
  .header, .mtop { height: 60px; }
  .header .logo { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%) scale(0.7); transform: translate(-50%, -50%) scale(0.7); float: none; margin: 0; }
  .banner .pic2 { position: relative; }
  .fixctas .b { display: none; }
  .banner .txts, .pc { display: none !important; }
  .mo { display: block !important; }
  .fixctas a, .fixctas .m { background-color: rgba(0, 0, 0, 0.8); }
  .fixctas { right: 2px; }
  .footer .f-ma { display: none; }
  .news-a .txts { padding: 30px 20px 0 20px; }
  .cer-list .pic { margin: 5px; border: 8px solid #fff; }
  .cer-dot .slick-dots { bottom: -60px; }
  .cer-arrow .slick-prev { left: 0; }
  .cer-arrow .slick-next { right: 0; }
  .cer-list { padding: 0 85px; }
  .pbanner .pic2 > img { -webkit-transform: none !important; transform: none !important; }
  .pro-a .txts { position: relative; padding: 35px 5%; top: auto; left: auto; right: auto; }
  .pro-list .item3 .txts { left: auto; }
  .pro-list .item2 .txts { right: auto; }
  .pi-controls { display: none; }
  .pro-imgs .slick-dots { display: block !important; }
  .pro-imgs.cer-dot .slick-dots { bottom: 20px; }
  .pro-tx .pw, .pro-tx { position: static; }
  .pro-tx .txx { -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0 5%; bottom: 50px; }
  .pdd-tx .ab-tx { top: 22%; }
  .psg-arrow.cer-arrow .slick-prev { left: 0; }
  .psg-arrow.cer-arrow .slick-next { right: 0; }
  .psg-arrow.cer-arrow .slick-arrow { border-radius: 0; }
  .pd1 .ab-ti { width: 500px; max-width: 100%; margin: 0 auto; }
  .ser-box.pw { width: 100%; }
  .ser-nav .ico, .ser-nav li:before, .ser-box:before { display: none; }
  .ser-nav { width: 100%; padding: 55px 5%; -webkit-box-sizing: border-box; box-sizing: border-box; float: none; background: #f4f4f4; }
  .ser-nav a { text-align: left; line-height: 36px; }
  .ser-nav li { overflow: hidden; padding: 0; }
  .ser-nav li + li { margin-top: 10px; }
  .ser-nav .sv1 { float: left; width: 120px; background: #000; text-align: center; font-size: 14px; white-space: nowrap; color: #fff; overflow: hidden; }
  .ser-nav .sv2 { display: block; padding: 0; margin-left: 160px; overflow: hidden; }
  .ser-nav .sv2 a { float: left; margin-right: 40px; }
  .ser-tx { margin-left: 0; padding: 70px 5% 50px 5%; }
  .ser-tx > .freeTx { padding-bottom: 50px; }
  .ft-io.wc { color: #333; }
  .ft-io.wc a { color: #333; }
  .ft-io .txts:not(.tx-pos2):not(.tx-pos6) { position: static; background: #fff; padding: 45px 5%; width: 100% !important; -webkit-box-sizing: border-box; box-sizing: border-box; }
  .ft-io { text-align: center; }
  .ft-io .tx-pos2 { color: #fff; bottom: 5%; }
  .ft-io .pro-more.wc .pm-btn .line:before, .ft-io .pro-more.wc .pm-btn .line { background: rgba(0, 0, 0, 0.6); }
  .ft-io .pro-more.wc .pm-btn:after { background: rgba(0, 0, 0, 0.1); }
  .ft-io .pro-more.wc .pm-btn:before { background: rgba(0, 0, 0, 0.2); }
  .ft-io .pro-more.wc { color: #333; }
  .ft-io .tx-pos5 .pro-more { margin-top: 80px; }
  .ft-io .tx-pos8 .ft-tx:before { display: none; }
  .ft-io .tx-pos8 .ft-tx { padding-left: 0; }
  .ft-io .tx-pos8 .ft-tx + .ft-tx { margin-top: 0; }
  .ft-io .tx-pos7 .ft-tx { margin-top: 30px; }
  .ft-io .ft-dot-list li { margin-left: 17px; margin-right: 17px; }
  .ft-io .ft-dot-list { width: 366px; margin-left: auto; margin-right: auto; }
  .ft-io .tx-pos9 .pro-more, .ft-io .tx-pos10 .pro-more { margin-top: 45px; }
  .ft-io.wc .ft-dot-list .ico { border-color: #333; background-position: center bottom; } }
@media screen and (max-width: 861px) { .vwrap .videobox { width: 100%; left: 0; margin-left: 0; }
  .footer .f-nav { width: 20%; margin-right: 0; margin-bottom: 10px; }
  .footer .f-cta, .footer .f-cop { float: none; overflow: hidden; }
  .footer .b { padding: 17px 0; }
  .mcv { display: block; position: relative; z-index: 100; background: #fff; line-height: 60px; font-size: 16px; padding: 0 5%; }
  .pnav { position: relative; }
  .pnav ul { display: none; position: absolute; left: 0; right: 0; z-index: 99; top: 100%; margin-top: 1px; background: #fff; -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }
  .pnav li { display: block; }
  .pnav a { padding-left: 5%; padding-right: 5%; }
  .ab-tx .ti2, .pbanner .ti2, .banner .ti1 { font-size: 36px; }
  .ab-tx .freeTx, .ab-tx .ti1, .pbanner .ti1, .banner .ti2 { font-size: 14px; }
  .pbanner .ti1 { margin-bottom: 3px; }
  .ab1 { padding-top: 80px; }
  .cer-arrow .slick-prev { -webkit-transform-origin: left center; transform-origin: left center; }
  .cer-arrow .slick-next { -webkit-transform-origin: right center; transform-origin: right center; }
  .cer-arrow .slick-arrow { -webkit-transform: scale(0.8); transform: scale(0.8); }
  .cer-list { padding: 0 65px; }
  .ab2 { padding: 90px 0 150px 0; }
  .news-list li { width: 50%; }
  .ab3 .news-list li:nth-child(3) { display: none; }
  .pbanner .more { margin-top: 30px; }
  .pdd-tx .ab-tx { position: static; padding: 55px 5%; text-align: center; color: #333; }
  .pdd-tx .freeTx { text-align: center; }
  .fnav-box .pw { width: 100%; }
  .fnav-box .pnav { margin-right: 0; border-bottom: 1px solid #ccc; }
  .fnav-box .mcv, .fnav-box .pnav ul { text-align: left; }
  .fnav-box { border: none; }
  .fnav-box .buy-btn { right: 5%; }
  .ft1 .ft-img { margin-top: 55px; }
  .ft1 .ft-dot-list { margin-top: 70px; }
  .ft-dot-list { width: 402px; margin-left: auto; margin-right: auto; }
  .ft-dot-list li { margin-bottom: 35px; }
  .ft1 .ft-tx { margin-top: 25px; }
  .ft1 { padding: 85px 0; }
  .ft3 { padding: 105px 0 115px 0; }
  .func-list li { width: 50%; }
  .para-list .pr-tx, .para-list .pr-ti { float: none; width: 100%; overflow: hidden; }
  .para-list .pr-ti { margin-bottom: 30px; }
  .ft4 { padding-bottom: 115px; }
  .ab-h { height: 30px; } }
@media screen and (max-width: 641px) { .vwrap .videobox { height: 350px; margin-top: -175px; }
  .pbanner .ab-ti { font-size: 30px; }
  .pro-more .pm-btn { display: none; }
  .pro-a .pro-more { margin: 45px 0 0 0; }
  .pro-a .txts { padding-top: 35px; padding-bottom: 15px; }
  .pd1 .ab-ti { width: 400px; }
  .pd1 .psg-list { margin-top: 50px; }
  .pd1 { padding: 75px 0 85px 0; }
  .ser-nav .sv1 { width: 100px; }
  .ser-nav .sv2 a { margin-right: 30px; }
  .ser-nav .sv2 { margin-left: 130px; }
  .pr-tx p { float: none; width: 100%; }
  .ft4 { padding-bottom: 95px; } }
@media screen and (max-width: 601px) { .footer .f-nav { width: 33.33%; }
  .footer .f-nav:nth-child(3n-2) { clear: both; }
  #map { height: 425px; }
  .ft-ti2, .ab-tx .ti2, .pbanner .ti2, .banner .ti1 { font-size: 30px; }
  .ab-ti { font-size: 30px; }
  .pbanner .ixmore { width: 130px; line-height: 38px; }
  .pbanner .more { margin-top: 25px; }
  .pro-a .ti1, .pbanner .ab-ti { font-size: 24px; }
  .pro-a .ti2 { margin-top: 8px; font-size: 14px; }
  .pd1 .ab-ti { width: 320px; } }
@media screen and (max-width: 481px) { .vwrap .videobox { height: 300px; margin-top: -150px; }
  .ser-box, .container { min-height: 400px; }
  .banner .slick-dots { bottom: 10px; }
  .banner .slick-dots li { width: 18px; }
  .f-cta a { display: block; float: none; margin-right: 0; }
  .footer .b a { margin-left: 0; display: block; }
  .ft-ti2, .ab-tx .ti2, .pbanner .ti2, .banner .ti1 { font-size: 24px; }
  .ab-ti { font-size: 24px; }
  .ab-tx .ti1, .pbanner .ti1 { font-size: 12px; }
  .ab-tx .freeTx { margin-top: 35px; }
  .ab-tx .ixmore { margin-top: 55px; }
  .case1, .ab3, .ab1 { padding: 50px 0 60px 0; }
  .ixmore { width: 150px; }
  .mcv { line-height: 52px; font-size: 15px; }
  .pnav a { padding: 14px 20px; font-size: 15px; }
  .cer-arrow .slick-arrow { -webkit-transform: scale(0.65); transform: scale(0.65); }
  .cer-list { padding: 0 55px; }
  .ab2 .cer-list { margin-top: 30px; }
  .ab2 { padding: 70px 0 120px 0; }
  .cer-dot .slick-dots { bottom: -50px; }
  .news-list { margin-left: 0; }
  .news-list li { width: 100%; float: none; }
  .news-list .news-a { margin-left: 0; }
  .ab3 .ab-ti { margin-bottom: 30px; }
  .ab3 .news-list { margin-bottom: 25px; }
  #map { height: 325px; }
  .ab3 .news-list li:nth-child(3) { display: block; }
  .case1 .ab-ti { margin-bottom: 30px; }
  .case1 .news-list { margin-bottom: 25px; }
  .nd-box .ti { font-size: 24px; }
  .pro-a .ti1, .pbanner .ab-ti { font-size: 20px; }
  .pbanner .ixmore { width: 110px; line-height: 30px; font-size: 12px; }
  .pbanner .more { margin-top: 20px; }
  .pro-a .ti2 { margin-top: 5px; font-size: 12px; }
  .pro-a .pro-more { margin: 35px 0 0 0; }
  .pro-a .txts { padding-top: 25px; padding-bottom: 0; }
  .pro-imgs.cer-dot .slick-dots { bottom: 12px; }
  .pro-tx .txx { font-size: 12px; bottom: 35px; }
  .buy-btn { width: 86px; font-size: 12px; }
  .nd-nav { font-size: 12px; }
  .pdd-tx .ab-tx { padding-bottom: 45px; }
  .pd1 .psg-list { margin-top: 30px; }
  .pd1 { padding: 55px 0; }
  .ser-nav .sv1 { width: 80px; }
  .ser-nav a { line-height: 30px; }
  .ser-nav .sv2 a { margin-right: 15px; }
  .ser-nav .sv2 { margin-left: 95px; }
  .ser-nav { padding: 45px 5%; }
  .s-item .ti { font-size: 20px; }
  .ser-tx { padding: 55px 5% 30px 5%; }
  .fnav-box .buy-btn { top: 9px; }
  .ser-tx > .freeTx { padding-top: 10px; padding-bottom: 20px; }
  .ft-ti1 { font-size: 18px; }
  .ft1 .ft-img { margin-top: 35px; }
  .ft-io .tx-pos1 .ft-tx, .ft1 .ft-ti2 { margin-top: 5px; }
  .ft-dot-list li { width: 80px; margin-left: 10px; margin-right: 10px; font-size: 14px; }
  .ft-dot-list { width: 300px; }
  .ft-dot-list .ico { height: 78px; background-size: 78px; margin-bottom: 10px; }
  .ft-dot-list li { margin-bottom: 25px; }
  .ft1 .ft-dot-list { margin-top: 40px; }
  .ft1 .ft-tx { margin-top: 15px; }
  .ft1 { padding: 55px 0; }
  .ft-io .pro-more { color: #114893 !important; }
  .ft-io .tx-pos5 .pro-more, .ft-io .tx-pos3 .pro-more { margin-top: 40px; }
  .ft-io .tx-pos5 .ft-tx, .ft-io .tx-pos4 .ft-tx { margin-top: 30px; }
  .ft-io .tx-pos6 { bottom: 5%; }
  .ft-io .ft-dot-list li { margin-left: 10px; margin-right: 10px; }
  .ft-io .ft-dot-list { width: 324px; }
  .ft-io .tx-pos9 .ft-dot-list, .ft-io .tx-pos10 .ft-dot-list { margin-top: 35px; }
  .ft-io .tx-pos9 .pro-more, .ft-io .tx-pos10 .pro-more { margin-top: 15px; }
  .func-list .ma { margin-left: 10px; }
  .func-list { margin-left: -10px; }
  .func-list li { font-size: 14px; }
  .func-list .nowti { margin-top: 10px; }
  .ft3 .func-list { margin-top: 35px; }
  .ft3 { padding: 65px 0 45px 0; }
  .pr-ti { font-size: 24px; }
  .ft4 { padding-bottom: 20px; }
  .ab-h { height: 0; } }
@media screen and (max-width: 321px) { .vwrap .videobox { height: 260px; margin-top: -130px; }
  .buy-btn { width: 66px; }
  .ft-dot-list li, .ft-io .ft-dot-list li { width: 70px; margin-bottom: 20px; }
  .ft-dot-list .ico { height: 68px; background-size: 68px; }
  .ft-io .ft-dot-list .ico { height: 68px; }
  .ft-dot-list, .ft-io .ft-dot-list { width: 270px; } }
